body {
    background: #fff;
    color: #000;
}

video:hover {
    cursor: pointer;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 35px;
    }
}

.top-rowx {
    padding-bottom: 10px;
    border-bottom: 1px solid #C9CACC;
    margin-bottom: 16px;
        padding-right: 30px;
    padding-left: 30px;
}

.bullets {
    font-weight: bold;
    margin-top: 15px;
}

.bc-1 {
    background: url("./bacteria.png") no-repeat !important;
    background-position: 0px -72px !important;
    height: 18px;
    width: 13px;

}

.top-bar {
    background: #000;
    border-bottom: 5px solid #C9CACC;
    height: 40px;
    xline-height: 40px;
}

.album-cover {
    border: 1px solid red;
}

h1 {
    margin-top: 10px;
    font-size: 52px;
}

.header {
    margin-bottom: 40px;
}