body {
    background: #fff;
    color: #000;
}

video:hover {
    cursor: pointer;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 35px;
    }
}


.content{
    border-top:1px solid  #C9CACC;
}
.bullets {
    font-weight: bold;
    margin-top: 15px;
}


.album-text:hover{
    text-decoration:underline;
}
.artist{
    font-weight:bold;
}
.top-bar {
    background: #000;
    border-bottom: 5px solid #C9CACC;
    height: 40px;
    xline-height: 40px;
}
.phil-top{
    border-bottom:1px solid #C9CACC;
        margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left:25px;
}
.album-cover {
    xborder: 1px solid red;
}

h1 {
    margin-top: 10px;
    font-size: 52px;
}

.header {
    margin-bottom: 40px;
}